/* Estilos gerais */
.first {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-box {
    margin: 0 6em;
}

.container-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2em;
}

.container-image {
    margin: 1em 0 2em 0;
}

.container-button {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.button-second {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container-notice {
    font-size: 12px;
    color: var(--cinza-secundario);
}

/* Section second */
.second {
    align-items: center;
    margin: 0 10em;
}

.second-image {
    width: 80%;
}

.image-plus {
    width: 80%;
}

.describe-title {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.describe-text {
    color: var(--cinza-secundario);
}

.text-second {
    margin-right: 2em;
}

.second-button {
    display: inline-block;
    margin-top: 1em;
}

.devices-lists {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 5em;
    font-size: 22px;
    color: var(--branco-principal);
    margin-top: 1em;
    margin-bottom: 2em;
}

.devices {
    justify-content: space-around;
    text-align: center;
}

.devices-title {
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 2em;
}

.container-button:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

/* Media query para Celulares */
@media screen and (max-width: 767px) {
    /* Section first */
    .first {
        background-image: url(../img/Background-celular.png);
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .container-title {
        font-size: 16px;
        padding-top: 15.5em;
    }

    .container-button {
        padding: 0.75em;
        margin: 1em 1em;
    }

    .container-notice {
        margin: 1em 1em;
    }
    
    /* Section second */
    .second {
        height: 70vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 1em;
    }

    .describe-title {
        font-size: 20px;
        margin-bottom: 0.75em;
        margin-top: 0.75em;
    }

    .describe-text {
        font-size: 14px;  
    }

    .image-plus {
        width: 80%;
        order: -1;
    }

    .text-second {
        font-size: 14px;
        margin-right: 0;
        margin-top: 2.5em;
    }

    .second-button {
        margin-top: 2.5em;
    }

    /* Section third */    
    .devices-title {
        font-size: 22px;
        margin-top: -5.5em;
    }
    
    .devices-lists {
        display: flex;
        flex-direction: column;
    }

    .image-devices {
        width: 50%;
    }
    
    .lists-item {
        font-size: 16px;
    }

    .list-link a {
        font-size: 10px;
        margin-left: 1em;
    }
}

/* Media query para Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .first {
        background-image: url(../Imagens/Background-celular.png);
    }
    
    .container {
        height: auto;
        display: flex;
        align-items: center;
        grid-template-columns: none;
    }

    .container-box {
        padding-top: 40em;
    }

    .container-title {
        font-size: 32px;
    }

    /* Section second */
    .second {
        height: 75vh;
        margin: 0 2em;
    }

    .second-image {
        width: 40%;
    }

    .image-plus {
        width: 40%;
    }

    .describe-title {
        font-size: 32px;
    }

    /* Section third */

    .devices-title {
        font-size: 36px;
    }

    .devices-lists {
        display: flex;
        flex-direction: column;
    }
}